<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean class="org.springframework.beans.factory.annotation.Autowired"/>

   <bean
   		id = "helloWorld" 
   		class = "it.begear.spring.first.model.HelloWorld">
      <property name = "message" value = "Hello World!"/>
   </bean>

	<bean id="MainApp" class = "it.begear.model.MainApp"/>

</beans>