<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file><!-- Insert here the log file destination path --></file>
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.oneleo.test.automation.core" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<!-- Uncomment the following line if you want to log into a file (Remember to insert the log file destination path into the FILE appender)  -->
		<!-- <appender-ref ref="FILE" /> -->
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
