<html >
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript">
	angular.module("myApp",[]).controller("appController", 
	        function($scope){
		$scope.num1 = 1;
        $scope.num2 = 2;
        $scope.sum = function() { 
        	var n1= parseInt($scope.num1);
        	var n2 = parseInt($scope.num2);
			s = n1+n2;
			return s.toString();           
        }; 
});
</script>
<head>

</head>
<body ng-app="myApp">
	<div ng-controller="appController">
			<input id="number1" type="text" ng-model="num1"> 
			<input id="number2" type="text" ng-model="num2">
			
			<button type="submit" ng-click="num1 =''; num2=''">
			 Clear
			</button>
		<hr>
		
		<h1>sum: <label id="res">{{sum()}} </label></h1>
	</div>
</body>
</html>